/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

.clear {
  clear:both;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container .content{
  float: right;
  width : 75%;
}

.container {
  width: 940px;
  margin: 0px auto;
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.container .header {
  text-align: center;
}

.container .header a {
  font-weight: bold;
  text-decoration: none;
}

.container .header .title {
  margin-bottom: .15em;
}

.container .header .title a {
  color: #8085C1;
}

.container .header .title a:hover {
  color: #000;
}

.container .header a.extra {
  color: #aaa;
  margin: 0px 5px;
}

.container .header a.extra:hover {
  color: #000;
}

.container .meta {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.container .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.container .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.container .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/
.container .sidebar{
  float: left;
  width: 23%;
  margin-right: 1em;
  text-align: center;
}

.container .sidebar img {
  border: 1px solid #bbb;
  border-radius: 70px;
  padding: 3px;
}

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/
.container .contact a {
  color: #8085C1;
  font-size: 100%;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}


